# WebScraping - table on website

---
* Author:  [Yuttapong Mahasittiwat](mailto:khala1391@gmail.com)
* Technologist | Data Modeler | Data Analyst
* [YouTube](https://www.youtube.com/khala1391)
* [LinkedIn](https://www.linkedin.com/in/yuttapong-m/)
* [Tableau](https://public.tableau.com/app/profile/yuttapong.m/vizzes)
---

ref: [WS CubeTech youtube channel](https://www.youtube.com/watch?v=UabBGhnVqSo&list=PLc20sA5NNOvrsn3a78ewy2VTCXVV47NB4&index=1&t=0s)

In [ ]:
import datetime
print(datetime.datetime.now())

2024-10-20 20:41:04.090947

## import library

In [26]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [27]:
url="https://ticker.finology.in/"
r = requests.get(url)
# print(r)

## set up BeautifulSoup

In [28]:
soup = BeautifulSoup(r.text, "lxml")
table = soup.find("table", class_="table table-sm table-hover screenertable")

print(table)

<table class="table table-sm table-hover screenertable">
<thead>
<tr>
<th scope="col">Company</th>
<th scope="col">Price<span class="muted">Rs.</span></th>
<th scope="col">Day High<span class="muted">Rs.</span></th>
</tr>
</thead>
<tbody>
<tr>
<td>
<a class="complink" href="company/MOTILALOFS">Motilal Oswal Fin</a>
</td>
<td class="Number">1029.70</td>
<td class="Number">1064.00</td>
</tr>
<tr>
<td>
<a class="complink" href="company/NATIONALUM">National Aluminium</a>
</td>
<td class="Number">232.12</td>
<td class="Number">232.80</td>
</tr>
<tr>
<td>
<a class="complink" href="company/WABAG">VA Tech Wabag</a>
</td>
<td class="Number">1871.15</td>
<td class="Number">1905.65</td>
</tr>
<tr>
<td>
<a class="complink" href="company/MCX">Multi Commodity Exch</a>
</td>
<td class="Number">6561.15</td>
<td class="Number">6605.95</td>
</tr>
<tr>
<td>
<a class="complink" href="company/ABREL">Aditya Birla Real</a>
</td>
<td class="Number">3052.80</td>
<td class="Number">3125.00</td>
</tr>
<tr>
<td>
<a class="complink" href="company/VPRPL">Vishnu Prakash R</a>
</td>
<td class="Number">312.90</td>
<td class="Number">324.85</td>
</tr>
<tr>
<td>
<a class="complink" href="company/DOMS">DOMS Industries</a>
</td>
<td class="Number">2924.40</td>
<td class="Number">3038.60</td>
</tr>
<tr>
<td>
<a class="complink" href="company/PENIND">Pennar Industries</a>
</td>
<td class="Number">207.39</td>
<td class="Number">210.35</td>
</tr>
<tr>
<td>
<a class="complink" href="company/ANANDRATHI">Anand Rathi Wealth</a>
</td>
<td class="Number">4286.30</td>
<td class="Number">4374.65</td>
</tr>
<tr>
<td>
<a class="complink" href="company/TORNTPOWER">Torrent Power</a>
</td>
<td class="Number">1973.65</td>
<td class="Number">1993.00</td>
</tr>
<tr>
<td>
<a class="complink" href="company/NSIL">Nalwa Sons Invest.</a>
</td>
<td class="Number">7048.20</td>
<td class="Number">7350.00</td>
</tr>
<tr>
<td>
<a class="complink" href="company/DIFFNKG">Diffusion Engineers</a>
</td>
<td class="Number">340.25</td>
<td class="Number">351.45</td>
</tr>
<tr>
<td>
<a class="complink" href="company/GREAVESCOT">Greaves Cotton</a>
</td>
<td class="Number">194.20</td>
<td class="Number">197.65</td>
</tr>
<tr>
<td>
<a class="complink" href="company/NITCO">Nitco</a>
</td>
<td class="Number">121.30</td>
<td class="Number">121.30</td>
</tr>
<tr>
<td>
<a class="complink" href="company/SAHASRA">Sahasra Electronic</a>
</td>
<td class="Number">760.15</td>
<td class="Number">883.90</td>
</tr>
</tbody>
</table>

In [12]:
headers = table.find_all("th")
# print(headers)

# way#1 list comprehension
titles = [i.text for i in headers]

# way#2 for loop
# titles =[]
# for i in headers:
#     title = i.text
#     titles.append(title)
print(titles)

df = pd.DataFrame(columns=titles)
df

['Company', 'PriceRs.', 'Day HighRs.']

Empty DataFrame
Columns: [Company, PriceRs., Day HighRs.]
Index: []

### collect record way#1

In [24]:
content_1 = table.find_all("a",{'class': 'complink'})
content_1 = [i.text for i in content_1]
# len(content)
print(content_1)

['Motilal Oswal Fin', 'National Aluminium', 'VA Tech Wabag', 'Multi Commodity Exch', 'Aditya Birla Real', 'Vishnu Prakash R', 'DOMS Industries', 'Pennar Industries', 'Anand Rathi Wealth', 'Torrent Power', 'Nalwa Sons Invest.', 'Diffusion Engineers', 'Greaves Cotton', 'Nitco', 'Sahasra Electronic']

In [20]:
content_2 = table.find_all("td",{'class': 'Number'})
content_2A = [float(i.get_text(strip=True)) for idx, i in enumerate(content_2) if idx % 2 == 0]
content_2B = [float(i.get_text(strip=True)) for idx, i in enumerate(content_2) if idx % 2 == 1]
print(content_2A)
print(content_2B)

[1029.7, 232.12, 1871.15, 6561.15, 3052.8, 312.9, 2924.4, 207.39, 4286.3, 1973.65, 7048.2, 340.25, 194.2, 121.3, 760.15]
[1064.0, 232.8, 1905.65, 6605.95, 3125.0, 324.85, 3038.6, 210.35, 4374.65, 1993.0, 7350.0, 351.45, 197.65, 121.3, 883.9]

In [22]:
df = pd.DataFrame({titles[0]:content_1,titles[1]:content_2A,titles[2]:content_2B})
df

                 Company  PriceRs.  Day HighRs.
0      Motilal Oswal Fin   1029.70      1064.00
1     National Aluminium    232.12       232.80
2          VA Tech Wabag   1871.15      1905.65
3   Multi Commodity Exch   6561.15      6605.95
4      Aditya Birla Real   3052.80      3125.00
5       Vishnu Prakash R    312.90       324.85
6        DOMS Industries   2924.40      3038.60
7      Pennar Industries    207.39       210.35
8     Anand Rathi Wealth   4286.30      4374.65
9          Torrent Power   1973.65      1993.00
10    Nalwa Sons Invest.   7048.20      7350.00
11   Diffusion Engineers    340.25       351.45
12        Greaves Cotton    194.20       197.65
13                 Nitco    121.30       121.30
14    Sahasra Electronic    760.15       883.90

### collect record way#2
- find_all ==> mixed with data from other table

In [19]:
rows = table.find_all("tr")

for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text for tr in data]
    # print(row)
    l = len(df)
    df.loc[l] = row
    
df['Company'] = df['Company'].str.strip()

df

                  Company PriceRs. Day HighRs.
0       Motilal Oswal Fin  1029.70     1064.00
1      National Aluminium   232.12      232.80
2           VA Tech Wabag  1871.15     1905.65
3    Multi Commodity Exch  6561.15     6605.95
4       Aditya Birla Real  3052.80     3125.00
..                    ...      ...         ...
100    Nalwa Sons Invest.  7048.20     7350.00
101   Diffusion Engineers   340.25      351.45
102        Greaves Cotton   194.20      197.65
103                 Nitco   121.30      121.30
104    Sahasra Electronic   760.15      883.90

[105 rows x 3 columns]

In [21]:
df.to_csv("data/stock_market_data.csv")